crewai==0.114.0
embedchain==0.1.128
langchain_community==0.3.21
pydantic==2.11.3
python_docx==1.1.2
streamlit==1.44.1
trafilatura==2.0.0
pysqlite3-binary
together==1.5.5
langchain-together>=0.2.0,<0.3.0
langchain-huggingface==0.1.2
docx2txt==0.9
streamlit-tags==1.2.8
torch>=2.0.0
pysbd==0.3.4
chromadb>=0.5.23